@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 243, 244, 246;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer components {
  .progress-width {
    @apply transition-all duration-300;
  }
  
  .progress-0 { width: 0%; }
  .progress-25 { width: 25%; }
  .progress-50 { width: 50%; }
  .progress-75 { width: 75%; }
  .progress-100 { width: 100%; }
} 